<div class='container mt-3 py-2 bg-light border rounded'>
    <div class='d-flex flex-wrap alert-content'>
        <!-- earthquake data will append here -->
        {{#each earthquakes}}
        <div class='wrapper py-2' style='width:100%;'>

            <a class='my-3' style='width:80%;' target='_blank' href='{{url}}'>
                {{!-- <img class='' src='assets/images/redLight.png' alt='status' height='15px'>   --}}
                <div earthquake-data='{{id}}' class='bd-highlight m-auto'>
                    {{!-- convert helper in server.js --}}
                    <h5 class='float-left col-sm-10 col-md-8 col-lg-4 font-weight-bold dateTime'>{{convert time}}</h5>
                    <h5 class='float-left col-sm-10 col-md-8 col-lg-2 magnitude'>Mag: <span class='font-weight-bold'>{{mag}}</span></h5> 
                    <h5 class='float-left font-weight-bold'></h5>
                    <h5 class='float-left col-sm-10 col-md-8 col-lg-5 place'>{{place}}</h5>
                </div>
            </a>
            <a class='float-left col-lg-1' href=/notes/{{id}}> 
                <span class=' btn btn-outline-success mr-sm-2'>Notes</span>
            </a>
            
        </div>
        {{/each}}
    </div>
</div>